# Node
node_modules/
.next/

# PHP
/vendor/
composer.lock

# Docker
*.log
docker-compose.override.yml

# IDEs e SO
.idea/
.vscode/
.DS_Store
Thumbs.db

# Cache e build
*.cache
*.tmp
*.swp
*.swo

# Testes
coverage/
phpunit.xml

# Outros
/web/.env*
/api/public/openapi.json

# Logs
*.log

# Arquivos de exportação temporários
*.csv
*.xlsx

# Arquivos de build do frontend
/web/out/
